# Files
*.log
.DS_Store
*.map
*.private.*
*.zip

# Folders
dist/*
node_modules/*
bower_components/*
*/node_modules/*
*/bower_components/*
vendor/*

# IntelliJ
.idea/*
*.iml

# Sublime
*.sublime-project
*/*.sublime-project
**/*.sublime-project
*.sublime-workspace
*/*.sublime-workspace
**/*.sublime-workspace